{
  "development": {
    "port"       : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125, 
    "maxSockets" : 150,
    "batchSize"  : 100,
    "startIndex" : 32570,
    "stellards"   :  [
      "http://localhost:9002"
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    }
  },
  
  "staging": {
    "port"       : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125,
    "maxSockets" : 150,
    "batchSize"  : 100,
    "startIndex" : 32570, 
    "stellards"   :  [
      "http://test.stellar.org:9002"
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    }
  },
  
  "production": {
    "port"        : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125,
    "maxSockets"  : 150,  
    "batchSize"   : 100,
    "startIndex"  : 32570, 
    "stellards"    :  [
      "http://live.stellar.org:9002
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    }
  }
}